In [6]:
#pip install pandas
import pandas as pd

table = pd.read_html('https://www.w3schools.com/python/python_operators.asp')
table[0]

  Operator            Name Example    Try it
0        +        Addition   x + y  Try it »
1        -     Subtraction   x - y  Try it »
2        *  Multiplication   x * y  Try it »
3        /        Division   x / y  Try it »
4        %         Modulus   x % y  Try it »
5       **  Exponentiation  x ** y  Try it »
6       //  Floor division  x // y  Try it »

Operators

In [7]:
print("power ",2**3)
print("floor answer only in number except int ", 14//3)

power  8
floor answer only in number except int  4

In [8]:
table[1]

   Operator  Example     Same As    Try it
0         =    x = 5       x = 5  Try it »
1        +=   x += 3   x = x + 3  Try it »
2        -=   x -= 3   x = x - 3  Try it »
3        *=   x *= 3   x = x * 3  Try it »
4        /=   x /= 3   x = x / 3  Try it »
5        %=   x %= 3   x = x % 3  Try it »
6       //=  x //= 3  x = x // 3  Try it »
7       **=  x **= 3  x = x ** 3  Try it »
8        &=   x &= 3   x = x & 3  Try it »
9        |=   x |= 3   x = x | 3  Try it »
10       ^=   x ^= 3   x = x ^ 3  Try it »
11      >>=  x >>= 3  x = x >> 3  Try it »
12      <<=  x <<= 3  x = x << 3  Try it »

In [9]:
a = 3
b = 4
print(a == b)
print(a != b)
print(a > b)
print(a < b)
print(a >= b)
print(a <= b)

False
True
False
True
False
True

In [10]:
table[3]

,Operator,Description,Example,Try it
0,and,Returns True if both statements are true,x < 5 and x < 10,Try it »
1,or,Returns True if one of the statements is true,x < 5 or x < 4,Try it »
2,not,"Reverse the result, returns False if the resul...",not(x < 5 and x < 10),Try it »

In [14]:
print(True and True and True)
print(False and True and True)
print(True or False or True)
a = "sudais"
print(not a == "sudais")

True
False
True
False

In [22]:
x : str = "abc"
y : str = "abc"

print(id(x))
print(id(y))

print(x is not y)
print(x is y)

140712481014848
140712481014848
False
True

In [23]:
table[5]

,Operator,Description,Example,Try it
0,in,Returns True if a sequence with the specified ...,x in y,Try it »
1,not in,Returns True if a sequence with the specified ...,x not in y,Try it »

In [35]:
names : list[str] = [chr(i) for i in range(65,91)]

for i in range(len(names)): 
    print(i, names[i])
    if names[i] == "D":
      print("True")
      break

print("A" in names)

0 A
1 B
2 C
3 D
True
True

In [37]:
name : list[str] = ["sudais", "ansari"]

uInput : str = input("Enter name")

uInput in name

False